<div class="row">
	<div class="col-xs-12">
		<button class="btn btn-success" (click)="onNewRecipe()"> New Recipe </button>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-xs-12">
		<app-recipe-item
      *ngFor="let recipe of recipes; let i =index"
      [recipeItem]="recipe"
      [index]="i"></app-recipe-item>
	</div>
</div>
<!--Below event is deleted becoz we are now using cross component event emitter and no need of event binding again and again-->
<!--(onDetailsTaken)="onDetailsShowed($event)"-->
<!--using data binding-->
<!--<div class="row">
	<div class="col-xs-12">
		<a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes">
			<div class="pull-left">
				<h4 class="list-group-item-heading" [innerText]="recipe.name"></h4>
				<p class="list-group-item-text" [innerText]="recipe.description"></p>
			</div> <span class="pull-right">
				<img [src]="recipe.imagePath" alt="{{recipe.name}}"  style="max-height:50px">
			</span> </a>
		<app-recipe-item></app-recipe-item>
	</div>
</div>-->
